<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos" url="http://localhost:3000/v2/movimientos" method="GET" on-response="mostrarMovimientos"></iron-ajax>
    <div>
      <br>
      <button class="btn btn-info" on-click="invocarPeticion">Obtener Movimientos</button>
    </div>
    <br>

    <div class="row">
       <div hidden$="{{noTengoMovimientos}}" class="col-lg-6 ">
         <span>{{ciudadSeleccionada}}</span>
       <table class="table table-striped">
         <thead>
           <th>Id</th>
           <th>Fecha</th>
           <th>Importe</th>
           <th>Latitud</th>
           <th>Longitud</th>
           <th>Ciudad</th>
           <th>Ver detalles</th>
         </thead>
         <tbody>
           <template is="dom-repeat" items="{{movimientos}}" as="prd">
             <tr onclick="mostrarInfoFila">
               <td>{{prd.Id}}</td>
               <td>{{prd.fecha}}</td>
               <td>{{prd.importe}}</td>
               <td>{{prd.latitud}}</td>
               <td>{{prd.longitud}}</td>
               <td>{{prd.ciudad}}</td>
               <td><a class="btn btn-info" href="/movimientos/[[prd.Id]]">Ver detalles</a></td>
             </tr>
           </template>
         </tbody>
       </table>
    </div>

    <div class="row col-lg-12 col-sm-12">
        <div class="card-deck">

      <template is="dom-repeat" items="{{movimientos}}">
        <div class="col-sm-3">

        <div class="card">
          <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[prd.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">{{prd.Id}}</h5>
          <p class="card-text">{{prd.fecha}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{prd.importe}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">{{prd.ciudad}}</a>
          <a href="#" class="card-link">{{prd.latitud}}</a>
          <a href="#" class="card-link">{{prd.longitud}}</a>
        </div>
      </div>
      </div>
    </template>
      </div>
      </div>

  </div>

    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          noTengoMovimientos: {
              type: Boolean,
              value: true
          },
          ciudadSeleccionada: {
              type: String
          }
        };
      }
      invocarPeticion(){
        this.$.obtenerMovimientos.generateRequest();
      }
      mostrarMovimientos(data){
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.noTengoMovimientos = false
      }
      mostrarInfoFila(e){
        console.log(e)
        this.ciudadSeleccionada = e.model.prd.ciudad
      }
    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
