<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="detallemovimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax auto="" id="obtenerDetalle" url="http://localhost:3000/v2/movimientos/{{Id}}" handle-as="json" on-response="mostrarDetalle">
    </iron-ajax>
    <h1>Detalle del movimiento {{Id}}</h1>
    <h2>Ciudad: {{detalle.ciudad}}</h2>
    <h3>Importe: {{detalle.importe}}</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientosApp extends Polymer.Element {
      static get is() { return 'detallemovimientos-app'; }
      static get properties() {
        return {
          detalle: {
            type: Object
          }
        };
      }
      mostrarDetalle(data){
        this.detalle = data.detail.response
      }
    }

    window.customElements.define(DetalleMovimientosApp.is, DetalleMovimientosApp);
  </script>
</dom-module>
